asgiref==3.5.0
beautifulsoup4==4.10.0
blessed==1.19.0
bs4==0.0.1
certifi==2021.10.8
charset-normalizer==2.0.11
colorama==0.4.4
dj-database-url==1.2.0
Django==4.0.7
django-cors-headers==3.7.0
django-heroku==0.3.1
dropbox==11.36.2
fire==0.4.0
gunicorn==20.1.0
halo==0.0.31
idna==3.3
log-symbols==0.0.14
lxml==4.9.1
pathspec==0.9.0
ply==3.11
psycopg2==2.9.3
Pygments==2.10.0
python-decouple==3.5
python-editor==1.0.4
pytz==2021.3
readchar==2.0.1
regex==2021.10.8
requests==2.27.1
requests-toolbelt==0.9.1
runflare==1.1.4
six==1.16.0
soupsieve==2.3.1
spinners==0.0.24
sqlparse==0.4.2
stone==3.3.1
termcolor==1.1.0
tzdata==2021.2.post0
tzlocal==3.0
ua-parser==0.10.0
urllib3==1.26.8
user-agents==2.2.0
wcwidth==0.2.5
websockets==10.0
whitenoise==5.2.0
